body{
    background-image: url(images/97122.jpg);
    background-repeat: repeat;
    font-family: 'Ubuntu', sans-serif;
    counter-reset: brojac;
    color : white;
    
    height: 100%; 
    background-size: cover;
}

body, html {
    height: 100%;
    margin: 0;
}

td.brojac:before{
    counter-increment: brojac;
    content: counter(brojac);
}

a{
    color: black;
    font-size: 20px;
    text-decoration: none;
}

a:visited{
    color: black;
}


a:hover{
    color: blue;
}


table,th,td,tr{
    padding: 5px;
    border-color: black;
    background-color: #d02020;
    

}

h1,h2,h3,p{
    text-align: center;
}

.okvir_div {
    position: absolute;

    width: 300px;
    height: 300px;

    /* Center form on page horizontally & vertically */
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
}

.index_form {
    width: 300px;
    height: 200px;

    background-color: #d02020;
    border-radius: 5px;
    border-style: solid;
    border-color: #999999;

    margin: 0;
    padding: 0;
    
    
}

.login_form {
    width: 300px;
    height: 230px;

    background-color: #d02020;
    border-radius: 5px;
    border-style: solid;
    border-color: #999999;

    margin: 0;
    padding: 0;
}


.registracija_form {
    width: 300px;
    height: 340px;

    
    background-color: #d02020;
    border-radius: 5px;
    border-style: solid;
    border-color: #999999;

    margin: 0;
    padding: 0;
}

.pravila{
    text-align: left;
    margin-left: 20px;
}

#restart{
    background-color: #ff1d1d;
    border-radius: 3px;
    border-style: solid;
    border-color: black;
    padding: 10px;
    display: block;
}
#restart:hover{
    background-color: #b50000;
}

#baza{
    display: block;
}

.linkDugme{
    background-color: silver;
    color: black;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.linkDugme:hover{
    color: blue;
}


#token{
    
}


#potvrdi{
    background-color: #40cc3d;
    border-radius: 3px;
    border-style: solid;
    border-color: black;
    padding: 10px;
    display: block;
}
#potvrdi:hover{
    background-color: #419e3f;
}

#potvrdiKomb{
    background-color: #40cc3d;
    border-radius: 3px;
    border-style: solid;
    border-color: black;
    padding: 10px;
    display: block;
}

#potvrdiKomb:hover{
    background-color: #419e3f;
}